.search-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.stock-image {
  height: 350px;
  object-fit: cover;
}

.search-input {
  width: 80%;
  padding: 10px;
  border: none;
  color: #000;
  font-weight: 500;
  outline: none;
}

.search-button {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: #4682b4;
  color: #fff;
  font-weight: 500;
}

.search-button:hover {
  background-color: #6f90b0;
  cursor: pointer;
}

.search-results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

.search-result-company-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 0.5px solid #d3d3d3;
  background-color: #0d47a1;
  width: 100%;
  height: 150px;
  color: #fff;
  text-decoration: none;
  align-self: center;
}

.search-result-company-link:hover {
  background-color: #7393b3;
}
